/*.Weather canvas {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  border: 100px solid #dadde1;
  padding: 26px;
  width: 100%;
  border-radius: 4px;
  color: rgb(10, 8, 12);
} */

.font-loader {
  font-family: 'dosis', sans-serif, arial;
}


/*.Weather .weather-app {
  max-width: 600px;
  margin: auto;
}*/

/*.Weather .weather-app-wrapper {
  padding: 20px;
  border-radius: 10px;
  max-width: 600px;
  box-shadow: inset -10px -10px 15px rgb(255 255 255 / 50%), inset 10px 10px 15px rgb(70 70 70 / 12%);
  margin: auto;
}*/

/*.Weather h2 {
  font-size: 100px;
}*/

.WeatherTemperature span {
  font-size: 22px;
  font-weight: 400;
  line-height: 25px;
}

.WeatherTemperature a {
  text-decoration: none;
}

/*.Weather #temp {
  font-size: 48px;
  line-height: 1;
}*/

/*.Weather-temperature img {
  margin-right: 10px;
  margin-top: -25px;
  height: 100;
  width: 100;
}*/

/*.celsius.link {
  text-decoration: none;
}*/

/*.units {
  position: relative;
  font-size: 20px;
}*/

/*.units a {
  text-decoration: none;
  color: indigo;
}*/

/*#open {
  color: rgb(10, 8, 12);
}*/

/*.small {
  max-width: 600px;
  margin: 10;
  padding: 20px;
}*/

.WeatherInfo h1 {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 80px;
}

.WeatherInfo h2 {
  text-align: center;
  font-size: 75px;
  padding: -50px;
}

.WeatherInfo h6 {
  text-align: center;
  padding-bottom: 20px;
  font-size: 15px;
}

.WeatherInfo ul {
  margin: 10;
  padding: 10;
  text-align: center;
  list-style: none;
}

.WeatherInfo li {
  font-size: 22px;
  font-weight: bold;
  line-height: 40px;
  padding-bottom: 5px;
  padding-top: 5px;
  text-transform: capitalize;
}

.Weather form {
  display: inline-block;
  margin: auto;
}

.Weather button {
  height: 50px;
  border: 10px solid indigo;
  border-radius: 5px;
  max-width: 20;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1), 0px 2px 4px rgba(0, 0, 0, 0.1),
    0px 4px 8px rgba(0, 0, 0, 0.1), 0px 8px 16px rgba(0, 0, 0, 0.1);
}

.Weather .btn:hover {
  background-color: rgb(10, 8, 12);
  color: white;
}

.Weather input {
  height: 50px;
  border: 1px solid rgb(10, 8, 12);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1), 0px 2px 4px rgba(0, 0, 0, 0.1),
    0px 4px 8px rgba(0, 0, 0, 0.1), 0px 8px 16px rgba(0, 0, 0, 0.1);
  width: 280px;
  border-radius: 5px;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.Weather .weather-forecast {
  margin-top: 20px;
  text-align: center;
  color: #000;
}

.Weather .weather-forecast-date {
  font-size: 20px;
  color: #000;
}

.Weather .weather-forecast-temp-min {
  font-size: 20px;
  opacity: 0.5;
}

.Weather .weather-forecast-temp-max {
  font-size: 20px;
}